.container {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-request {
    text-align: center;
    font-size: calc(18px + 2vmin);
    color: white;
}

.request-a-song-image {
    width: clamp(250px, 90%, 600px);
    pointer-events: none;
}

.event-date {
    font-size: calc(.6 * (18px + 2vmin));
    margin-top: -20px;
    /* todo */
}

.css-wnkddu-MuiPaper-root-MuiAlert-root {
    width: clamp(50%, 80%, 700px);
    position: absolute;
    left: 10px;
    top: 10px;
}